/* Main Style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main{
  display:flex;
  justify-content: flex-start;
  font-family:arial,sans-serif;
  font-size:100%;
  color:black;
}
#note-title {
  font-size: 1.5rem;
padding: 5px;
  width: 100%;
  text-align: left;
  border: 0;
  outline: 0;
  background: transparent;
}

#info-text {
  margin-bottom: 30px;
}
/* Layout */
h1{
  font-size: 2em;
  font-weight: bolder;
}
h2{
  font-size: 1.5em;
  font-weight: bolder;
}
h3{
  font-size: 1.17em;
  font-weight: bolder;
}
h4{
  font-size: 1em;
  font-weight: bolder;
}
h5{
  font-size: .83em;
  font-weight: bolder;
}
h6{
  font-size: .67em;
  font-weight: bolder;
}


.temp1 {
  font-family: 'Nerko One', cursive;
  color:black;
}
.temp1 > h2{
  font-size: 2em;
  color: rgb(75, 184, 148);
}
.temp1 h3{
  font-size: 1.17em;
}
.temp1 h4{
  font-size: 1em;
}
.temp2 {
  font-family: 'Source Code Pro', monospace;
  color: black;
}
.temp2 > h2{
  color: rgb(174, 139, 250);

  size: 4em;
}
.temp2 h3{
  font-size: 1.17em;
}
.temp2 h4{
  font-size: 1em;
}
.temp3 {
  font-family: 'Castoro', serif;
  color:black;
}
.temp3 > h2{
  font-size: 1.5em;
}
.temp3 h3{
  font-size: 1.17em;
}
.temp3 h4{
  font-size: 1em;
}
.temp4 {
  font-family: 'Indie Flower', cursive;
  color:black;
}
.temp4  > h2{
  color: rgb(165, 16, 16);
  font-size: 1.9em;
}
.temp4 h3{
  font-size: 1.17em;
}
.temp4 h4{
  font-size: 1em;
}



/* Left Div */
#left {
     width: 15%;
     padding: 1em;
}

/* Right Div */
  /* svg input #star:hover{
  fill: #f1c915;
}
#star:checked{
  fill: #f1c915;
} */
/* fill="#FFDF93" stroke="#C1C1C1" stroke-linecap="round" stroke-linejoin="round" */


svg input:checked  {
  fill:yellow;
}
.yellowStar  {
  fill:yellow;
  stroke:#C1C1C1;
  stroke-linecap:round;
  stroke-linejoin:round;
}


input[type="checkbox"]:checked + .my-image {
  fill:#f1c915;
}

input[type="checkbox"] + .my-image {
  fill:#ffffff;
  stroke:#C1C1C1;
  stroke-linecap:round;
  stroke-linejoin:round;
}
#star {
  display:none;
}



#right {
    text-align: center;
     margin: 0 auto;
     min-width:5%;
     max-width: 750px;
     padding-top: 33px;
     background-color: #ffffff;
}
#editor {
  
    background-color:#ffffff;
    padding-left: 20px;
}
#editor:focus, #editor:hover  {
  outline:none;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto; 
  all: none; 
  box-shadow: none;
}
#editor:focus{
  min-height: 80vh;
  
}

.ck-blurred{
  min-height: 80vh;
  
}





#searchbar {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

/*----Info Fönster och overlay---*/
.flexContainer{
  display:flex;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 90vh;
  max-width: 25rem;
  max-height: 600px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 1));

}

/*----Popups/overlay Styles----*/

#overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.containerItems{
  padding: 2px 12px 2px 12px;
  max-width: 25rem;
  border: 3px solid #0056A6;
  border-radius: 12px;
  background-color: white;
}

#welcome {
  text-align: center;
  font-family: 'Bungee Hairline', cursive;

}

.instructions {
  font-family: 'Noto Sans JP', sans-serif;
}

#instructionsList {
  margin: 8px;
  list-style-type: square;
  margin-bottom: 30px;
}

#instructionsList li {
  margin:0 0 16px 0; 
}

#exit {
  margin: 25px;
  border: 2px solid #0056A6;
  border-radius: 12px;
  background-color: white;
  padding: 8px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;  
}